h1{
  font-size: 2em;
  margin: 1em;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  background-color: #8a8888;
  height: 100px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 6px;
  border: none;
  background-color: #075a0a;
  color: white;
  cursor: pointer;
  DISPLAY: inline-block;
}
.App{
  text-align: center;
  margin-top: 5em;
  color: white;
  font-family: Arial, sans-serif;
 
  height: 100vh ;
  display: flex;
justify-content: center; 
align-items: center; 
height: 100vh; 
}